 
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
             
            background-image: url("images/clok.png");
            background-position: center;
            background-size: cover;
           
        }
        #clockbox{
            margin-top: -21vh;
            margin-left: 7.5vh;
            height: 49vh;
            width: 49vh;
            border-radius: 50%; 
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
            font-size:70px;
            font-weight: 700;
            border: 8px rgb(231, 231, 231) double;
            /* border-radius: 25px; */
            box-shadow:
            0 0 30px 10px rgba(90, 81, 30, 0.6),   /* outer yellow glow */
            0 0 60px 20px rgba(255, 215, 0, 0.3);   /* soft spread */
        }
        h1{
            margin-left: 55px;
            color: azure;
            padding-top: 2vh;
        }
    